name: RSpec
on:
  pull_request:
  push:
jobs:
  RSpec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - "3.4"
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: bundle install
      - run: bundle exec rake
      - uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/.resultset.json
